
<!DOCTYPE html>
<html lang="en">

<head>

  </head>
  <body>
  GROCERIES ARE HERE
  <p>Create new groceries:</p>
    <form action="/list/{{ list_obj.name }}/" method="POST">
      {% csrf_token %}
      {{ groceries_form.as_p }}
      <input type="submit" value="Submit" />
    </form>
  <h2>Here are your groceries for {{ list_obj.name }}</h2>

  <table class="table table-hover" id="order-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Measurement</th>
            <th>Is bought</th>
        </tr>
    </thead>

    <tbody>
        {% for grocery in groceries_for_list %}

        <tr>
            <td>{{ forloop.counter }}</td>

            <td>
              {{ grocery.name }}
            </td>

            <td>
                {{ grocery.quantity }}
            </td>

            <td>
              {{ grocery.measurement }}
            </td>

             <td>
                <input type='checkbox' value="{{ grocery.is_bought }}" />
             </td>
        </tr>

        {% endfor %}
    </tbody>
  </table>


  </body>
</html>