{% extends "base.html" %}

  {% block content %}

<div class="jumbotron">
  <div class="container">
    <br>
    <h2>Create new list:</h2>
      <form action="/list/" method="POST">
        {% csrf_token %}
        <br>
        {{ list_form.as_p }}
        <input type="submit" value="Submit" class="btn btn-success" />
      </form>
    
  </div>
</div>


  <div class="container">
        <!-- Example row of columns -->
    <div class="row">
      <h2>Here are your lists:</h2>
      <br>
      <div class="list-group" >
      {% for list in all_lists %}
          <a href="{% url 'groceries' list.name %}" class="list-group-item">
            <p>{{ list.name }}</p>
          </a>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}